body {
    background: #800080;
}


.main-section {
    background: transparent;
    margin: auto;
    width: 350px;
    /* height: 200px; */
    margin-top: 17%;
}

.clock-holder {
    width: 100%;
    background: #fff;
    position: relative;
}


.stopwatch {
    padding: 20px 0px;
    text-align: center;


}

.stopwatch span {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    padding: 15px;
    /* margin: 0; */
    display: inline-block;
    border: 1px solid #800080;
    margin-bottom: 5px;
}

.heading {
    text-align: start;
    margin-left: 40px;
}