.btn-watch {
    padding: 4px 10px;
    background-color: #800080;
    color: #ffffff;
    margin: 0px 2px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline;
    position: relative;
}

.all-btn {
    margin-top: -20px;
}